# Add any directories, files, or patterns you don't want to be tracked by version control
*.log
*.aux
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.fls
*.fdb_latexmk
*.DS_Store
/tmp
/.texlipse
/.project
/w06_hpo_bo/
/w09_nas/
